/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: #0050d1;
}

body > * {
  background-color: #f7f7f7;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #001959;
}

h1 {
  margin-left: 0.5em;
}

.footer > * {
  margin-left: 2em;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Grid layout */

.head {
  grid-area: header;
  color: #ed6404;
}

.footer {
  grid-area: footer;
  color: #0050d1;
}

.subhead {
  grid-area: subhead;
  background-color: #0050d1;
  color: #f7f7f7;
  font-size: 2rem;
  text-align: center;
}

.socialmedia {
  grid-area: socialmedia;
}

.email {
  grid-area: email;
}

.login {
  grid-area: login;
}

.createacct {
  grid-area: createacct;
}

.navbar {
  grid-area: navbar;
}

.destinations {
  grid-area: destinations;
}

.friendlist {
  grid-area: friendlist;
}

.messages {
  grid-area: messages;
}

.create {
  grid-area: create;
}

.popular {
  grid-area: popular;
}

.saved {
  grid-area: saved;
}

.fsearch {
  grid-area: fsearch;
}

.asearch {
  grid-area: asearch;
}

body {
  display: grid;
  gap: 2em;
  /* grid-template-columns: 100%; */
}

html,
body {
  width: 100%;
  height: 100%;
}

/* || Typography */
html {
  font-family: "Raleway", Arial, sans-serif;
  color: #27364c;
}

h1 {
  font-family: "Indie Flower", Arial, sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
label,
input {
  font-size: 1.5rem;
}

/* || Signup */

/* signup grid */

#signup {
  grid-template-areas:
    "header"
    "subhead"
    "socialmedia"
    "email"
    "login"
    "footer";
}

/* Facebook and Google buttons */

.socialmedia {
  display: grid;
}

.socialmedia > h3 {
  text-align: center;
}

#fb {
  color: #f7f7f7;
  background-color: #3c5997;
  padding: 1em;
  padding-left: 5em;
  padding-right: 5em;
  border: none;
  border-radius: 3px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

#google {
  color: #f7f7f7;
  background-color: #de4a32;
  padding: 1em;
  padding-left: 5.55em;
  padding-right: 5.55em;
  border: none;
  border-radius: 3px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* Email sign up */

#emailhead {
  text-align: center;
}

#sformwrap {
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
}

#joinwrap {
  display: flex;
  justify-content: center;
}

.textinput {
  margin-bottom: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.3em;
  padding-right: 15em;
}

#sublabel {
  font-size: 1.3rem;
  color: #223973;
  margin-top: 0.3em;
}

.label {
  margin-bottom: 0.5em;
}

#join {
  background-color: #ed6404;
  color: #f7f7f7;
  padding: 0.5em;
  padding-left: 7em;
  padding-right: 7em;
  border: none;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

/* login link styling  */

.log {
  background-color: #0050d1;
  color: #f7f7f7;
  text-align: center;
}

.log a {
  font-weight: bold;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.5rem;
}

/* || Login */

/* login grid */

#login {
  grid-template-areas:
    "header"
    "login"
    "socialmedia"
    "createacct"
    "footer";
}

/* general styling */

.createacct {
  background-color: #0050d1;
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 2em;
}

.createacct a {
  font-weight: bold;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.5rem;
}

/* log in form */

#lformwrap {
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
}

#lpassword {
  margin-bottom: 0;
}

/* remember info/ forgot password positioning */

#remforgot {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  margin-top: 0;
}

#cbox {
  margin-top: 1.32rem; /*evenly space checkbox with forgot password link*/
}

/* Log in button */

#logbtn {
  background-color: #ed6404;
  color: #f7f7f7;
  padding: 0.8em;
  padding-left: 13.8em;
  padding-right: 13.8em;
  border: none;
  border-radius: 3px;
  margin-bottom: 2em;
}

/* || Home */

/* home grid */

#home {
  grid-template-areas:
    "header"
    "navbar"
    "destinations"
    "footer";
}

/* || Friends */

/* friends grid */

#friends {
  grid-template-areas:
    "header"
    "navbar"
    "friendlist"
    "footer";
}

/* || Messages */

/* messages grid */

#messages {
  grid-template-areas:
    "header"
    "navbar"
    "messages"
    "footer";
}

/* || Trips */

/* trips grid */

#trips {
  grid-template-areas:
    "header"
    "navbar"
    "create"
    "popular"
    "saved"
    "footer";
}

/* || Flights */

/* flights grid */

#flights {
  grid-template-areas:
    "header"
    "navbar"
    "fsearch"
    "footer";
}

/* || Activities */

/* activities grid */

#activities {
  grid-template-areas:
    "header"
    "navbar"
    "asearch"
    "footer";
}
