/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: #0050d1;
}

body > * {
  background-color: #f7f7f7;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #001959;
}

h1 {
  margin-left: 0.5em;
}

.footer {
  display: flex;
  justify-content: center;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Grid layout */

.head {
  grid-area: header;
  color: #ed6404;
}

.footer {
  grid-area: footer;
  color: #0050d1;
}

.subhead {
  grid-area: subhead;
  background-color: #0050d1;
  color: #f7f7f7;
  font-size: 2rem;
  text-align: center;
}

.socialmedia {
  grid-area: socialmedia;
}

.email {
  grid-area: email;
}

.login {
  grid-area: login;
}

.createacct {
  grid-area: createacct;
}

.navbar {
  grid-area: navbar;
}

.destinations {
  grid-area: destinations;
}

.friendlist {
  grid-area: friendlist;
}

.messages {
  grid-area: messages;
}

.create {
  grid-area: create;
}

.popular {
  grid-area: popular;
}

.saved {
  grid-area: saved;
}

.fsearch {
  grid-area: fsearch;
}

.asearch {
  grid-area: asearch;
}

body {
  display: grid;
  gap: 1em;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* || Typography */
html {
  font-family: "Raleway", Arial, sans-serif;
  color: #27364c;
}

h1 {
  font-family: "Indie Flower", Arial, sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
label,
input {
  font-size: 1.5rem;
}

/* || Signup */

/* signup grid */

#signup {
  grid-template-areas:
    "header"
    "subhead"
    "socialmedia"
    "email"
    "login"
    "footer";
}

/* Facebook and Google buttons */

.socialmedia {
  display: grid;
}

.socialmedia > h3 {
  text-align: center;
}

#fb {
  color: #f7f7f7;
  background-color: #3c5997;
  padding: 1em;
  padding-left: 5em;
  padding-right: 5em;
  border: none;
  border-radius: 3px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

#google {
  color: #f7f7f7;
  background-color: #de4a32;
  padding: 1em;
  padding-left: 5.55em;
  padding-right: 5.55em;
  border: none;
  border-radius: 3px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* Email sign up */

#emailhead {
  text-align: center;
}

#sformwrap {
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
}

#joinwrap {
  display: flex;
  justify-content: center;
}

.textinput {
  margin-bottom: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.3em;
  padding-right: 15em;
}

#sublabel {
  font-size: 1.3rem;
  color: #223973;
  margin-top: 0.3em;
}

.label {
  margin-bottom: 0.5em;
}

#join {
  background-color: #ed6404;
  color: #f7f7f7;
  padding: 0.5em;
  padding-left: 7em;
  padding-right: 7em;
  border: none;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

/* login link styling  */

.log {
  background-color: #0050d1;
  color: #f7f7f7;
  text-align: center;
}

.log a {
  font-weight: bold;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.5rem;
}

/* || Login */

/* login grid */

#login {
  grid-template-areas:
    "header"
    "login"
    "socialmedia"
    "createacct"
    "footer";
}

/* general styling */

.createacct {
  background-color: #0050d1;
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 2em;
}

.createacct a {
  font-weight: bold;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.5rem;
}

/* log in form */

#lformwrap {
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
}

#lpassword {
  margin-bottom: 0;
}

/* remember info/ forgot password positioning */

#remforgot {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  margin-top: 0;
}

#cbox {
  margin-top: 1.32rem; /*evenly space checkbox with forgot password link*/
}

/* Log in button */

#logbtn {
  background-color: #ed6404;
  color: #f7f7f7;
  padding: 0.8em;
  padding-left: 13.8em;
  padding-right: 13.8em;
  border: none;
  border-radius: 3px;
  margin-bottom: 2em;
}

/* || Logged in: Header */

/* Hamburger icon / menu transition */
.spinner-master {
  position: relative;
  height: calc(3px * 10);
  width: calc(3px * 10);
}
.spinner-master * {
  transition: all 0.3s;
  box-sizing: border-box;
}
.spinner-master input[type="checkbox"] {
  display: none;
}
.spinner-master label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0;
}

.spinner-master .spinner {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #27364c;
}
.spinner-master .diagonal.part-1 {
  position: relative;
  float: left;
}
.spinner-master .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: calc(3px * 1.3);
}
.spinner-master .horizontal {
  position: relative;
  float: left;
  margin-top: calc(3px * 1.3);
}
.spinner-master input[type="checkbox"]:checked ~ .spinner-spin > .horizontal {
  opacity: 0;
}

.spinner-master
  input[type="checkbox"]:checked
  ~ .spinner-spin
  > .diagonal.part-2 {
  margin-top: calc(-1 * (3px + (3px * 2.2)));
}
.spinner-master
  input[type="checkbox"]:checked
  ~ .spinner-spin
  > .diagonal.part-1 {
  transform: rotate(135deg);
}
.spinner-master
  input[type="checkbox"]:checked
  ~ .spinner-spin
  > .diagonal.part-2 {
  transform: rotate(-135deg);
}

/* positioning title and hamburger bar */

.shead {
  display: flex;
}
.shead h1 {
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-top: 0.2em;
  margin-right: auto;
}
.shead .spinner-master {
  margin-right: 1em;
  margin-top: 1em;
}

/* mobile dropdown nav  */

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #27364c;
  font-size: 1.5rem;
  margin-left: 1em;
}

ul li a:hover {
  color: #ed6404;
}

ul > * {
  border-top: 0.1em solid #eaeaea;
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
}

.hideme {
  display: none;
}

/* || Home */

/* home grid */

#home {
  grid-template-areas:
    "header"
    "destinations"
    "footer";
  grid-template-rows: auto 1fr auto;
}

/* destinations */

.destinations {
  display: grid;
  grid-template-rows: auto 1fr;
}

#stw {
  margin: 0;
  margin-top: 1em;
  justify-self: center;
}

#istanbul {
  justify-self: center;
  width: 96%;
}

#isiframe {
  width: 100%;
  height: 100%;
}

/* || Friends */

/* friends grid */

#friends {
  grid-template-areas:
    "header"
    "invite"
    "friendlist"
    "footer";
  grid-template-rows: auto auto 1fr auto;
}

/* invite section  */

.invite {
  margin-left: 1em;
  margin-right: 1em;
}

.invite h3 {
  margin: 0;
  padding-left: 1em;
  padding-bottom: 0.5em;
  background-color: #0050d1;
  color: #eaeaea;
}

.invite p {
  margin-left: 1.35em;
  padding-top: 0.5em;
}

/* invite button  */

.invite button {
  background-color: #ed6404;
  color: #f7f7f7;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1.35em;
  margin-bottom: 1em;
  border: none;
  border-radius: 3px;
}

/* friends list */

.friendlist {
  margin-left: 1em;
  margin-right: 1em;
}

.friendlist h3 {
  margin: 0;
  padding-left: 1em;
  padding-bottom: 0.5em;
  background-color: #0050d1;
  color: #eaeaea;
}

.friendlist ul {
  margin: 0;
  padding: 0;
}

.friendlist ul li {
  padding-left: 2em;
}

/* || Messages */

/* messages grid */

#messages {
  grid-template-areas:
    "header"
    "messages"
    "footer";
  grid-template-rows: auto 1fr auto;
}

/* individual messages */

.messages article {
  padding-left: 3em;
  padding-bottom: 3em;
  border-bottom: 0.2em solid #eaeaea;
}

.messages article h2 {
  font-size: 2.25rem;
}

.messages article h3 {
  font-size: 1.75rem;
}

.messages article:last-of-type {
  border: none;
}

/* message bar */

.mbar {
  font: inherit;
  color: inherit;
  font-size: 1.5em;
  padding: 0.5em;
}

/* || Trips */

/* trips grid */

#trips {
  grid-template-areas:
    "header"
    "create"
    "popular"
    "saved"
    "footer";
  grid-template-rows: auto auto 1fr 1fr auto;
}

/* || Flights */

/* flights grid */

#flights {
  grid-template-areas:
    "header"
    "fsearch"
    "footer";
}

/* create a trip */

.create {
  background-color: #0050d1;
  display: flex;
  justify-content: center;
}

.create button {
  color: #f7f7f7;
  background-color: #de4a32;
  margin: 0;
  padding: 1em;
  padding-left: 6em;
  padding-right: 6em;
  border: none;
  border-radius: 3px;
}

/* popular trips */

.popular {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.popular h2 {
  font-size: 2.25rem;
  padding-left: 2em;
}

/* saved trips  */

.saved {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.saved h2 {
  font-size: 2.25rem;
  padding-left: 2em;
}

/* individual trip styles */

.divTrip {
  padding-left: 1em;
}

.divTrip h3 {
  font-size: 1.5rem;
}

.divTrip p {
  font-size: 1em;
}

/* || Activities */

/* activities grid */

#activities {
  grid-template-areas:
    "header"
    "asearch"
    "footer";
}
